
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

h1 {
    font-family: "Cinzel Decorative", cursive;
}

h8 {
    font-family: "Cinzel Decorative", cursive;
}
.btn-secondary{
    background-color: #682D43!important;
    border: transparent!important;
    text-emphasis-color: white;
    font-family: "Cinzel Decorative", cursive;
}

.btn-secondary:hover{
    background-color: #6b0025!important;
}